@charset "utf-8";
body {
    padding-top: 90px;
    font-family: 'Taviraj', serif;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

.col-xs-12 {
    padding: 0;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.robotoThin {
    font-family: 'Roboto-Thin';
}

.rixM {
    font-family: 'RixSGo M';
    font-weight: bold;
}

.rixL {
    font-family: 'RixSGo L';
}

.aboutContentTopWrap {
    width: 100%;
    position: relative;
}

.subBackground {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.subBackground > div {
    width: 100%;
    height: 200%;
    position: relative;
    top: -100%;
}

.txtWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txtTltle {
    font-size: 3.5em;
    color: #fff;
}

.scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.scroll h6 {
    margin: 0 0 5px 0;
    color: #fff;
}

.scrollbar {
    width: 1px;
    height: 25px;
    border-left: 1px solid #fff;
    margin: auto;
}

.contentWrap {
    width: 100%;
    padding: 120px 8%;
}

.contentboxWrap {
    width: 100%;
    border-top: 1px solid #e0e1e2;
    display: block;
    position: relative;
    overflow: auto;
}

.aboutBoxTitle {
    float: left;
    width: 39%;
    padding: 50px 0;
    box-sizing: border-box;
}

.titleUp {
    text-transform: uppercase;
}

.aboutNum {
    line-height: 0px;
    color: #999;
}

.aboutBoxBody {
    float: left;
    padding: 50px 0;
    width: 60%;
    color: #898989;
}
.progress{
    border-radius: 10px;
}
.htmlcolor{
    background-color: #ee4e14;
}
.csscolor{
    background-color: #1d97da;
}
.jscolor{
    background-color: #eeb500;
}
.sasscolor{
    background-color: #ce4b89;
}
.nodecolor{
    background-color: #7ec128;
}
.gitcolor{
    background-color: #010101;
}
.photocolor{
    background-color: #1ec9fd;
}
.illcolor{
    background-color: #ff6600;
}
.subcolor{
    background-color: #fa9d31;
}
.sourcolor{
    background-color: #002354;
}

.last{
    border-bottom: 1px solid #e0e1e2;
}
@media(max-width: 768px) {
    .aboutBoxBody{
        width: 100%;
        padding: 0 0 50px;
    }
}