@charset "utf-8";
.top,
.wrapper {
    width: 100%;
    position: relative
}

.content,
.listBox,
.top,
.wrapper {
    position: relative
}

body {
    font-family: Lato, "Noto Sans", sans-serif;
    font-size: 62.5%
}

.wrapper {
    height: 100%
}

.hc {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.vc {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.content {
    top: 100px
}

.listBox {
    margin: 0 auto
}

.listTitleBox {
    position: absolute;
    width: 650px;
    height: 200px;
    right: 0;
    top: 50%;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.list_01,
.list_02 {
    width: 92%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.gymPd {
    padding: 60px
}

.vectorPd {
    padding: 50px 60px
}

.list_01 {
    background-image: url("http://drive.google.com/uc?export=view&id=1enSJ4DEWaMtwDzvZMS8phwzNajNkkGvC6A");
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.list_02,
.viewText {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out
}

.listBox>a>.listTitleBox>.listTitleImgBox>img.gym_img_logo,
img.vexctor_img_logo {
    max-width: 80%;
    width: 656px
}

.listBox>a>.listTitleBox>.listTextBox {
    margin-top: 10px
}

.listBox>a>.listTitleBox>.listTextBox>div {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #888;
    display: inline-block
}

.listBox>a>.listTitleBox>.listTextBox>div:first-child {
    font-size: 1.5rem
}

.listBox>a>.listTitleBox>img {
    width: 100%
}

img.leaky_img_logo {
    width: 225px;
    max-width: 100%
}

img.promo_img_logo {
    width: 557px;
    max-width: 100%
}

.viewTextBox {
    width: 100%;
    position: relative
}

.viewTextBox>.viewTextWrap {
    position: absolute;
    right: 0
}

.viewTextBox>.viewTextWrap>p {
    display: inline-block;
    font-style: italic;
    font-size: 1.2rem;
    color: #333
}

.viewText {
    margin-right: 0;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

p.viewText:hover {
    margin-right: 10px
}

.list_02 {
    background-image: url("http://drive.google.com/uc?export=view&id=1QAA2D0sDlV3Ak1PlsnlpvzLR8O3Qfq43DA");
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.list_03,
.list_04 {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    width: 92%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.list_03 {
    background-image: url("http://drive.google.com/uc?export=view&id=1UAxnpaPz596cEqBgBjPmU7uLEEv5EA4b7g");
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.list_04 {
    background-image: url("http://drive.google.com/uc?export=view&id=1gFCx0vX-MvfyOjltZZ5kXZazwhFxdk_Egg");
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.list_05 {
    width: 92%;
    background-image: url("http://drive.google.com/uc?export=view&id=1-p9vMPzTclLaw9x2qqhRlJpoJYWxw05ohQ");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

@media (max-width:768px) {
    .listTitleBox {
        top: inherit;
        bottom: 0;
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
    .list_01,
    .list_02,
    .list_03,
    .list_04,
    .list_05 {
        width: 100%
    }
    .listBox>a>.listTitleBox>.listTitleImgBox>img.vexctor_img_logo {
        max-width: 95%
    }
    .listBox>a>.listTitleBox>.listTitleImgBox>img.leaky_img_logo {
        max-width: 45%
    }
    .listBox>a>.listTitleBox>.listTitleImgBox>img.gym_img_logo {
        max-width: 100%
    }
    .listBox>a>.listTitleBox>.listTextBox>div:first-child {
        font-size: 1.3rem
    }
}