@charset "utf-8";
body {
    font-family: "Lato", "Noto Sans", sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.top {
    width: 100%;
    position: relative;
}

#navWrap {
    width: auto;
    position: absolute;
    left: 4%;
    top: 43px;
}

#navWrap>div {
    display: inline-block;
}

#navWrap>div:first-child {
    margin-right: 10px;
}

.navTxt>a {
    color: #777992;
}

.navTxt>a:hover {
    color: #a0b1de;
    text-decoration: line-through;
}

.navTxt>a:active {
    color: #92a2cd;
}

.logoImg {
    position: absolute;
    top: 43px;
}

.hc {
    left: 50%;
    transform: translate(-50%, -50%);
}


.logoImg>img {
    max-width: 70%;
}

.content {
    position: relative;
    top: 100px;
}

.listBox {
    width: 92%;
    margin: 0 auto;
}

.listGymWrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f2ecdd;
    text-align: center;
}

.listGymWrap>.listGymImg01 {
    position: absolute;
    max-height: 484px;
    top: 50%;
    z-index: 1;
}
.listGymWrap>.listGymImg02 {
    position: absolute;
    max-height: 484px;
    top: 50%;
    z-index: 10;
}
