@charset "utf-8";
@font-face{
    font-family: "roboto";
    src:;
}
body {
    padding-top: 90px;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}
/*컨텐츠 시작*/

.col-xs-12 {
    padding: 0;
}

.contentsBox {
    width: 100%;
    height: 450px;
    display: table;
    background: url("../img/dr_bg.jpg") no-repeat;
}

.contentsBox2 {
    width: 100%;
    height: 450px;
    display: table;
    background: url("../img/hj_bg.jpg") no-repeat;
}

.contentsTxtWrap {
    padding-left: 30px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.contentsTxt {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.typeTitle {
    padding-bottom: 20px;
    font-size: 1.1em;
}

.contentTitle {
    font-size: 5.5em;
    line-height: 70px;
    padding-bottom: 10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.subTitle {
    font-size: 1.6em;
    padding-bottom: 10px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.toolTitle {
    font-size: 12px;
}

.footer{
    display: table;
    width: 100%;
    height: 40px;
}
.footerWrap{
    display: table-cell;
    vertical-align: middle;
    overflow: auto;
}
.footerTxt{
    font-size: 12px;
    color: #333;
    padding-left: 30px;
    float: left;
}
.footerIcon{
    padding-right: 30px;
    text-align: right;
    float: right;
}
.footerIcon img{
    width: 24px;
    height: 24px;
}
@media(max-width: 768px) {
    .contentsTxtWrap {
        padding: 0 15px;
    }
    .contentTitle {
        font-size: 4.3em;
        line-height: 60px;
        padding-bottom: 8px;
    }
    .subTitle {
        font-size: 1.3em;
        padding-bottom: 10px;
    }
    .footerTxt{
        padding-left: 15px;
    }
    .footerIcon{
        padding-right: 15px;
    }
}