@charset "utf-8";
body {
    font-family: "Lato", "Noto Sans", sans-serif;
    font-size: 62.5%;
}

.modal-content {
    box-shadow: none;
    border: none;
}

.Md_top {
    height: 293px;
    background-image: url("../img/modal_bg.png");
    background-position: left;
    background-size: cover;
}

.close-modal-02 {
    position: relative;
    top: 0;
    width: 100%;
}

.close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}

.Md_sub_content {
    padding: 100px 120px 0 120px
}

.md_title_txt {
    font-size: 2.0rem;
    color: #4a4b5b;
    margin-bottom: 10px;
}

.md_title_sub_txt {
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    color: #777992;
}

.md_title_body {
    font-size: 1.6rem;
    color: #333;
}

.sub {
    margin-top: 40px;
}

.md_content_01 {
    margin-bottom: 20px;
}

.sub_title {
    font-size: 1.4rem;
    color: #777992;
    margin-bottom: 5px;
}

.sub_body {
    font-size: 1.2rem;
    color: #333;
}

.career_txt {
    color: #595b6b;
    font-weight: bold;
}

.career_line {
    line-height: 18px;
}

.contact_mail>a {
    color: #333;
}

.contact_mail>a:hover {
    color: #999;
}


/*미디어쿼리 시작*/

@media (max-width: 414px) {
    .Md_sub_content {
        padding: 100px 70px ;
    }
}
@media (max-width: 375px) {
    .Md_sub_content {
        padding: 80px 50px;
    }
}