/* nav 외부 CSS 파일*/
@charset "utf-8";

/*풀 네비게이션바 시작*/

.navBar {
    width: 100%;
    height: 90px;
    display: table;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 99998;
    overflow: auto;
    -webkit-transition: top 0.1s ease-in-out;
    transition: top 0.1s ease-in-out;
}

.navBarvertical {
    display: table-cell;
    vertical-align: middle;
}

.navBarWrapTitle {
    float: left;
}
.navBarWrapTitle a{
    text-decoration: none;
    color: #333;
}

.navBarWrapList {
    float: left;
}

.biImg {
    padding-left: 30px;
}

.navList {
    display: table;
    height: 40px;
    padding: 0;
}

.navList ul {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    list-style-type: none;
}

.navList li {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 30px 0 0;
    float: left;
}

.navList li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    letter-spacing: 3px;
    font-style: italic;
    position: relative;
}

.navList li a:after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #333;
    transition: 0.4s;
}

.navList li a:hover:after {
    width: 100%;
}


/*풀 네비게이션바 끝*/


/*미니 네비게이션바 시작*/

.navBarMini {
    width: 100%;
    height: 90px;
    display: table;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 999998;
    -webkit-transition: top 0.1s ease-in-out;
    transition: top 0.1s ease-in-out;
    display: none;
}

.navBarMiniWrap {
    display: table-cell;
    vertical-align: middle;
}

.navBarTitle {
    font-size: 2em;
}

.navMiniListTap {
    display: none;
    width: 100%;
    height: 225px;
    position: absolute;
    top: 90px;
    background-color: #fff;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

.navMiniListTap ul {
    padding: 5px 0 0 16px;
    list-style-type: none;
}

.navMiniListTap li {
    padding-bottom: 30px;
}

.navMiniListTap li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    letter-spacing: 3px;
    font-style: italic;
}

.navMiniIcon {
    position: relative;
}

.hambox {
    position: absolute;
    right: 15px;
    top: 7px;
    height: 28px;
    width: 36px;
    cursor: pointer;
}

.hambox .line-top,
.hambox .line-middle,
.hambox .line-bottom {
    position: absolute;
    display: block;
    height: 1px;
    width: 33px;
    border-radius: 2px;
    background: #333;
}

.hambox .line-top {
    top: 0;
    -webkit-transform-origin: 18px 2px;
    transform-origin: 18px 2px;
}

.hambox .line-middle {
    top: 12px;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.hambox .line-bottom {
    bottom: 0;
    -webkit-transform-origin: 18px 2px;
    transform-origin: 18px 2px;
}


/*open*/

.hambox.is-open .line-top {
    -webkit-animation: line-top-out 500ms linear normal;
    animation: line-top-out 500ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.hambox.is-open .line-middle {
    opacity: 0;
}

.hambox.is-open .line-bottom {
    -webkit-animation: line-bot-out 500ms linear normal;
    animation: line-bot-out 500ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


/*closed*/

.hambox.is-closed .line-top {
    -webkit-animation: line-top-in 500ms linear normal;
    animation: line-top-in 500ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.hambox.is-closed .line-middle {
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
}

.hambox.is-closed .line-bottom {
    -webkit-animation: line-bot-in 500ms linear normal;
    animation: line-bot-in 500ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


/*keyfremes*/

@-webkit-keyframes line-top-in {
    0% {
        top: 12px;
        transform: rotate(-45deg);
    }
    10% {
        top: 12px;
        transform: rotate(-35deg);
    }
    20% {
        top: 12px;
        transform: rotate(-20deg);
    }
    60% {
        top: 12px;
        transform: rotate(0deg);
    }
    100% {
        top: 0px;
    }
}

@keyframes line-top-in {
    0% {
        top: 12px;
        transform: rotate(-45deg);
    }
    10% {
        top: 12px;
        transform: rotate(-35deg);
    }
    20% {
        top: 12px;
        transform: rotate(-20deg);
    }
    60% {
        top: 12px;
        transform: rotate(0deg);
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes line-top-out {
    0% {
        top: 0px;
    }
    60% {
        top: 12px;
        transform: rotate(0deg);
    }
    80% {
        top: 12px;
        transform: rotate(-20deg);
    }
    90% {
        top: 12px;
        transform: rotate(-35deg);
    }
    100% {
        top: 12px;
        transform: rotate(-45deg);
    }
}

@keyframes line-top-out {
    0% {
        top: 0px;
    }
    60% {
        top: 12px;
        transform: rotate(0deg);
    }
    80% {
        top: 12px;
        transform: rotate(-20deg);
    }
    90% {
        top: 12px;
        transform: rotate(-35deg);
    }
    100% {
        top: 12px;
        transform: rotate(-45deg);
    }
}

@-webkit-keyframes line-bot-in {
    0% {
        bottom: 12px;
        transform: rotate(45deg);
    }
    10% {
        bottom: 12px;
        transform: rotate(35deg);
    }
    20% {
        bottom: 12px;
        transform: rotate(20deg);
    }
    60% {
        bottom: 12px;
        transform: rotate(0deg);
    }
    100% {
        bottom: 0px;
    }
}

@keyframes line-bot-in {
    0% {
        bottom: 12px;
        transform: rotate(45deg);
    }
    10% {
        bottom: 12px;
        transform: rotate(35deg);
    }
    20% {
        bottom: 12px;
        transform: rotate(20deg);
    }
    60% {
        bottom: 12px;
        transform: rotate(0deg);
    }
    100% {
        bottom: 0px;
    }
}

@-webkit-keyframes line-bot-out {
    0% {
        bottom: 0px;
    }
    60% {
        bottom: 12px;
        transform: rotate(0deg);
    }
    80% {
        bottom: 12px;
        transform: rotate(20deg);
    }
    90% {
        bottom: 12px;
        transform: rotate(35deg);
    }
    100% {
        bottom: 12px;
        transform: rotate(45deg);
    }
}

@keyframes line-bot-out {
    0% {
        bottom: 0px;
    }
    60% {
        bottom: 12px;
        transform: rotate(0deg);
    }
    80% {
        bottom: 12px;
        transform: rotate(20deg);
    }
    90% {
        bottom: 12px;
        transform: rotate(35deg);
    }
    100% {
        bottom: 12px;
        transform: rotate(45deg);
    }
}


/*미니 네비게이션바 끝*/


/*네비게이션제어 시작*/

.nav-up {
    top: -90px;
}

.nav-down {
    top: 0;
}


/*네비게이션제어 끝*/

.footer {
    display: table;
    width: 100%;
    height: 40px;
}

.footerWrap {
    display: table-cell;
    vertical-align: middle;
    overflow: auto;
}

.footerTxt {
    font-size: 12px;
    color: #333;
    padding-left: 30px;
    float: left;
}

.footerIcon {
    padding-right: 30px;
    text-align: right;
    float: right;
}

.footerIcon img {
    width: 24px;
    height: 24px;
}

/*미디어쿼리 시작*/

@media(max-width: 768px) {
    .navBarMini {
        display: table;
    }
    .navBar {
        display: none;
    }
    .footerTxt {
        padding-left: 15px;
    }
    .footerIcon {
        padding-right: 15px;
    }
}

