@charset "utf-8";
body {
    padding-top: 90px;
    font-family: 'Taviraj', serif;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

.col-xs-12 {
    padding: 0;
}
.robotoThin {
    font-family: 'Roboto-Thin';
}

.robotoregular {
    font-family: 'Roboto-Regular';
}

.rixM {
    font-family: 'RixSGo M';
}

.aboutContentTopWrap {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

.subBackground {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.subBackground > div {
    width: 100%;
    height: 200%;
    position: relative;
    top: -100%;
}

.txtWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.txtTltle {
    font-size: 3.5em;
    color: #fff;
}

.txtTltleDG {
    font-size: 3.5em;
    color: #333;
}

.scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.scroll h6 {
    margin: 0 0 5px 0;
    color: #fff;
}

.scrollbar {
    width: 1px;
    height: 25px;
    border-left: 1px solid #fff;
    margin: auto;
}

#scrollDG {
    margin: 0 0 5px 0;
    color: #333;
}

.scrollbarDG {
    width: 1px;
    height: 25px;
    border-left: 1px solid #333;
    margin: auto;
}

.contentWrap {
    width: 100%;
    padding: 120px 8%;
}

#contentsWrap {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 95%;
    column-count: 2;
    column-gap: 30px;
}

#contentsWrap a{
    text-decoration: none;
}

.dgContent {
    position: relative;
    width: 100%;
    height: 290px;
    overflow: hidden;
}
.pbContent{
    position: relative;
    width: 100%;
    height: 290px;
    overflow: hidden;
    display: inline-block;
}

.imgBox {
    background: url("../img/bc_bg.jpg") no-repeat;
    background-size: 105%;
    height: 230px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transform-origin: center center 0px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.imgBox:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 12);
    transform: scale(1.2, 1.2);
}
.imgBox2 {
    background: url("../img/mp_bg.jpg") no-repeat;
    background-size: 105%;
    height: 230px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transform-origin: center center 0px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.imgBox2:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 12);
    transform: scale(1.2, 1.2);
}
.imgBox3 {
    background: url("../img/dr_bg.jpg") no-repeat;
    background-size: 105%;
    height: 230px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transform-origin: center center 0px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.imgBox3:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 12);
    transform: scale(1.2, 1.2);
}
.imgBox4 {
    background: url("../img/sh_bg.jpg") no-repeat;
    background-size: 105%;
    height: 230px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transform-origin: center center 0px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.imgBox4:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 12);
    transform: scale(1.2, 1.2);
}
.imgBox5 {
    background: url("../img/hj_bg.jpg") no-repeat;
    background-size: 105%;
    height: 230px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transform-origin: center center 0px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.imgBox5:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 12);
    transform: scale(1.2, 1.2);
}
.imgBox6 {
    background: url("../img/ad_bg.jpg") no-repeat;
    background-size: 105%;
    height: 230px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transform-origin: center center 0px;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.imgBox6:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 12);
    transform: scale(1.2, 1.2);
}
.imgTxt{
    position: absolute;
    top: 62px;
    left: 33px;
    font-size: 2rem;
    color: #fff;
}
.oneLine{
    top: 80px;
}
.imgTitleTxt{
    font-size: 4.4rem;
    color: #fff;
    line-height: 42px;
}
.imgTypeTxt{
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 8px;
}
.txtBox{
    position: absolute;
    top: 228px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: table;
}
.txtBoxSubText{
    display: table-cell;
    vertical-align: middle;
    padding-left: 33px;
    font-size: 12px;
    color: #999;
}
.pbContent{
    margin-bottom: 60px;
}

.pbContent:nth-child(3){
    margin-bottom: 40px;
}
@media(max-width: 414px) {
    .txtTltleDG {
        color: #fff;
    }
    #scrollDG {
        color: #fff;
    }
    .scrollbarDG {
        border-left: 1px solid #fff;
    }
    #contentsWrap{
        column-count: 1;
        padding-bottom: 0;
    }
    .dgContent:first-child{
        margin-bottom: 60px;
    }
    .imgTxt{
        left: 24px;
    }
    .txtBoxSubText{
        padding-left: 25px;
    }
}
