/* SUB 외부 CSS 파일*/

@charset "utf-8";

body {
    padding-top: 90px;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    font-family: 'Taviraj', serif;
}

.robotoThin {
    font-family: 'Roboto-Thin'
}
.rixM{
    font-family: 'RixSGo M';
}

.subContentImgTxtWrap {
    position: relative;
}

.imgCover {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.subBackground {
    height: 550px;
    overflow: hidden;
}

.subBackground > div {
    height: 200%;
    position: relative;
    top: -100%;
}

.subContentTxt {
    position: absolute;
    top: 27%;
    left: 8%;
    line-height: 0.9;
    color: #fff;
}

.subTypeTitle {
    padding-bottom: 10px;
    font-size: 1.1em;
}

.subTitleTxt {
    font-size: 5em;
    line-height: 70px;
    padding-bottom: 26px;
}

.subBodyBtnWrap>button {
    width: 300px;
    height: 45px;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition : background-color 0.2s ease-out, color 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.subBodyBtnWrap>button:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition :background-color 0.3s ease-in, color 0.3s ease-in;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.subContentBodyTxtWrap {
    position: relative;
    top: -85px;
    width: 100%;
}

.subContentBodyTxt {
    width: 84%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.toolTxt {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 12px;
}

.subContentTeamDevWrap {
    width: 100%;
}

.teamTxtWrap {
    width: 84%;
    margin: 0 auto;
}

.teamIcon {
    display: table;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fafafa;
}

.ion-ios-people-outline {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    color: #999;
}
.ion-ios-person-outline{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    color: #999;
}
.ion-ios-monitor-outline {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    color: #999;
}

.teamTxt {
    display: table;
    height: 70px;
}

.teamTxtTitle {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.1em;
}

.toolTxtSub {
    font-size: 12px;
}

.subContentImgContentsWrap{
    width: 100%;
    margin-top: 85px;
}
.subContentImgContents{
    width: 100%;
    background-color: #e5e5e5;
    text-align: center;
}
.subContentImgContents img{
    max-width: 100%;
}
.subBodyTxtContent{
    font-size: 13px;
    color: #666;
    line-height: 30px;
    letter-spacing: 0.8px;
}
.smallTxt{
    font-size: 11px;
    color: #999;
}

@media(max-width: 768px) {
    .teamWrap {
        margin-bottom: 20px;
    }
}

@media(max-width: 1080px) {
    .subBodyTxtWrap {
        width: 100%;
    }
}

@media(max-height: 600px) {
    .subContentBodyTxtWrap {
        top: -50px;
    }
}
